.JoinGame-container {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
}
.JoinGame {
    margin-top: var(--m);
    font-size: var(--l);  
    color: var(--text-color);
    text-align: left;

    justify-content: center;
    border: 0px;
    background-color: white;
    padding: var(--m) var(--l);
    /* margin: auto; */
    display: flex;
    flex-direction: column;
    width: min-content;
      

    border: solid;
    border-width: var(--s);
    border-color: white;
    border-radius: var(--s);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 12px;
}

.JoinGame-title {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 70px;
    letter-spacing: 0.1em;
  /* white */
    color: var(--text-color);

    -webkit-text-stroke-width: 0.2px;

    -webkit-text-stroke-color:var(--text-color);
}

.JoinGame-rowPixel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* margin-bottom: var(--s); */
    padding: var(--m);
}
.JoinGame-pixels {
    border-color: white;
    height: 15px;
    width: 15px;
    margin: var(--s);
    border-radius: .25em;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px;
}

.JoinGame-margin {
    margin-left: 1rem;
    margin-bottom: var(--s);
}
.JoinGame-startGame {
    margin-top: var(--l);
    margin-bottom: var(--m);
    padding: var(--s);
}


.JoinGame-header {
    font-size: var(--l);
    color: var(--font-color-2);
    margin-bottom: var(--m);
}

.JoinGame-entireColumn {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: min-content;
    justify-content: center;
}


.JoinGame-column {
    margin-left: 1rem;
}
/* .JoinGame-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.JoinGame-linkContainer {
    width: min-content;
}

.JoinGame-button {
    margin: var(--m) 0px;
} */
