.Lobby {
    font-size: var(--l);  
    color: var(--text-color);
    text-align: center;

    justify-content: center;
    border: 0px;
    background-color: white;
    padding: var(--m) var(--l);
    margin: 15vh auto;
    display: flex;
    flex-direction: column;
    width: min-content;
      

    border: solid;
    border-width: var(--s);
    border-color: white;
    border-radius: var(--m);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 12px;
}

.Lobby-title {
    /* text styling */
    font-size: var(--xl);
    letter-spacing: 0.1em;
    /* white */
    
    margin: auto;
    padding-bottom: var(--m);
    white-space: nowrap;
    -webkit-text-stroke-width: 2px;
  
    -webkit-text-stroke-color:var(--grey);
}

.Lobby-startGame {
    margin: var(--m) 0px;
    padding: var(--s);
    border-color: var(--color-1);
}