.Start-startMenu {
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin-top: 2vh;
}

.Start-title {
    margin-top: 30vh;
}

.Start-googleButton {
    text-decoration: none;
    margin: 0px var(--m);
    text-decoration: underline;
}

.Start-loginButtonContainer {
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin-top: 2vh;
}


