/* text overlay adapted from: */
@media only screen and (max-width: 1110px) {
    .Wall-page {
        flex-direction: column !important;
    }
}

.Wall-page {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: no-wrap;

    animation: fadeInAnimation ease 3s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
}

@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
     } 
} 

.Wall-title-fame, .Wall-title-shame {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 70px;
    letter-spacing: 0.1em;
    -webkit-text-stroke-width: 0.2px;

    
}
.Wall-title-shame {
    color: var(--text-color);
    -webkit-text-stroke-color:var(--text-color);
}
.Wall-title-fame {
    color: white;
    -webkit-text-stroke-color:var(--text-color);
    -webkit-text-stroke-width: 1px;
}
.Wall-rowPixel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: var(--s);
}
.Wall-pixels {
    height: 15px;
    width: 15px;
    margin: var(--s);
    border-radius: .25em;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px;
}

.Wall-container-fame, .Wall-container-shame {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 0;

}

.Wall-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.Wall-pictureContainer {
    height: 200px;
    width: 200px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 0;
    /* padding: 1rem; */
}

.Wall-picture {
    display: block
}

.Wall-pictureCaption-shame, .Wall-pictureCaption-fame{
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.Wall-pictureCaption-shame {
    color: white;
}

.Wall-pictureCaption-fame {
    color: var(--text-color);
}

.Wall-overlay-fame, .Wall-overlay-shame {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 200px;
    width: 200px;
    opacity: 0;
    transition: .5s ease;
    
  }

.Wall-overlay-shame {
    background-color: var(--text-color);
}

.Wall-pictureContainer {
    margin: 1rem;
    display: block;
    border: solid;
    border-width: var(--s);
    border-color: white;
    border-radius: var(--m);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 12px;
}

.Wall-pictureContainer:hover .Wall-overlay-fame {
    opacity: 0.9;
}

.Wall-pictureContainer:hover .Wall-overlay-shame {
    opacity: 0.7;
}