/* text overlay adapted from: */

.Wall-page {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.Wall-title-fame, .Wall-title-shame {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 70px;
    letter-spacing: 0.1em;
    -webkit-text-stroke-width: 0.2px;

    
}
.Wall-title-shame {
    color: var(--text-color);
    -webkit-text-stroke-color:var(--text-color);
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}
.Wall-title-fame {
    color: white;
    -webkit-text-stroke-color:var(white);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.Wall-rowPixel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: var(--s);
}
.Wall-pixels {
    border-color: white;
    height: 10px;
    width: 10px;
    margin: var(--s);
    border: solid;
    border-width: .25em;
    border-radius: .25em;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px;
}

.Wall-container-fame, .Wall-container-shame {
    display: flex;
    flex-direction: column;

}

.Wall-gallery {
    display: flex;
}
.Wall-pictureContainer {
    height: 200px;
    width: 200px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 0;
    /* padding: 1rem; */
}

.Wall-picture {
    display: block
}

.Wall-pictureCaption {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.Wall-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 200px;
    width: 200px;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
  }

.Wall-pictureContainer {
    margin: 1rem;
    display: block;
}

.Wall-pictureContainer:hover .Wall-overlay {
    opacity: 0.7;
}