.Canvas {
    width: 500px;
    height: 500px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
}

.Canvas-pixelBlockContainer {
    display: flex;
}

.Canvas-footer {
    display: flex;
}