.Canvas {
    width: 500px;
    height: 500px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;

    border: solid;
    border-width: var(--s);
    border-color: white;
    border-radius: var(--s);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 12px;
}
@media only screen and (max-width: 1150px) and (min-width: 450px) {
    .Canvas {
      height: 400px !important;
      width: 400px !important;
    }
  }

@media only screen and (max-width: 449px) {
.Canvas {
    height: 320px !important;
    width: 320px !important;
    }
  }
.Canvas-pixelBlockContainer {
    display: flex;
}

.Canvas-footer {
    margin-top: var(--m);
    /* text-align: left; */
    display: flex;
    justify-content: space-between;
}

