.GuessEntry-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    border-width: var(--s);
    padding: 1rem;
}

.GuessEntry-buttonContainer {
    margin-top: var(--s);
    display: flex;
    justify-content: space-between;
}

.GuessEntry-child {
    flex-basis: auto;
    display: inline-block;

}

.GuessEntry-quitConfirmationContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: blanchedalmond;
    margin-top: .25rem;
    padding: 0.25rem;
}

.GuessEntry-quitConfirmationChild {
    color: var(--text-color);
}

/* .GuessEntry-button disabled{

} */