@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');




.GuessEntry-underline {
    margin-top: var(--s);
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
    width: 100%;
    border: 1.5px solid var(--light-grey);
    height: 2em;
    outline: 0;
    background: transparent;
}

.GuessEntry-underline:hover {
    border: 1.5px solid var(--text-color);
}

.GuessEntry-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    border-width: var(--s);
    /* padding: 1rem; */
}

.GuessEntry-buttonContainer {
    margin-top: var(--s);
    display: flex;
    justify-content: space-between;
}

.GuessEntry-child {
    flex-basis: auto;
    display: inline-block;

}

.GuessEntry-quitConfirmationContainer {
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: blanchedalmond;
    margin-top: .75rem;
    padding: 0.25rem;
}

.GuessEntry-quitConfirmationChild {
    color: var(--text-color);
}

/* .GuessEntry-button disabled{

} */