.PixelBlock-body-unfilled {
    background-color: var(--pixel-color-unfilled);
}

.PixelBlock-body-filled {
    background-color: var(--pixel-color-filled);
}

.PixelBlock-body-hover {
    background-color: var(--pixel-color-hover);
}

@media only screen and (max-width: 1150px) and (min-width: 450px) {
    .Canvas-pixelBlockContainer .PixelBlock-body-unfilled, .Canvas-pixelBlockContainer .PixelBlock-body-filled, .Canvas-pixelBlockContainer .PixelBlock-body-hover {
      height: 20px !important;
      width: 20px !important;
    }
  }

  @media only screen and (max-width: 449px) {
    .Canvas-pixelBlockContainer .PixelBlock-body-unfilled, .Canvas-pixelBlockContainer .PixelBlock-body-filled, .Canvas-pixelBlockContainer .PixelBlock-body-hover {
    height: 16px !important;
    width: 16px !important;
}
}