.StartMenu-button {
    
    height: 5rem;
    width: 5rem;
    border-radius: 5px;
    /* border-style: solid;
    border-width: 5px; */
    font-family: var(--font-primary);
    margin-bottom: var(--s);
}


/* used Animista */
.StartMenu-button:hover {
    -webkit-animation: scale-up-center 0.4s ease-out both;
    animation: scale-up-center 0.4s ease-out both;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 8px 8px;
    /* filter: drop-shadow(0px 0px 8px  grey); */
   /*  filter: brightness(90%); */
}

@-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    100% {
      -webkit-transform: scale(1.05);
              transform: scale(1.05);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    100% {
      -webkit-transform: scale(1.05);
              transform: scale(1.05);
    }
  }

.StartMenu-buttonsRow{
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
    display: flex;
    justify-content: space-evenly;
    width: 65%;
}

.StartMenu-link {
    flex-grow: 1;
    flex-basis: 0;
    justify-content: space-evenly;
}

.StartMenu-linkContainer {
  display: flex;
  flex-direction: column;
}