.PlayerPanelTop {
    text-align: center;
    font-size: x-large;
    padding: 1rem;
    background-color: aqua;
}

.PlayerPanelLeft {
    height: 100%;
    text-align: left;
    padding: 1rem;
    background-color: blueviolet;
}

.PlayerPanelRight {
    height: 100%;
    text-align: left;
    padding: 1rem;
    background-color: brown;
}

.CanvasPanel {
    text-align: center;
    padding: 1rem;
    background-color: yellow;
    width: 600px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.CanvasContainer {
    width: 500px;
    height: 500px;
    flex-grow: 1;
    flex-basis: 0;
    padding: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

/* player icon styling */

.PlayerIcon-container {
    padding: 12px 0px;
    display: flex;
    justify-content: flex-start;
    /* color: var(--grey); */
}

.PlayerIcon-left {
    display:flex;
    flex-basis: 0;
    flex: 1;
    justify-content: space-between;
}

.PlayerIcon-right {
    flex: 1;
    margin-left: 8px;
}

.PlayerIcon-order {
    flex: 1;
    text-align: center;
}

.PlayerIcon-icon {
    flex: 1;
    /*margin-left: .5rem;*/
    max-height: 16px;
    max-width: 16px;
    min-height: 16px;
    min-width: 16px;
    border-radius: 0;
    border-color: var(--border-color);
    color: var(--border-color);
    font-family: var(--font-primary);
}

.PlayerIcon-name {
    /* width: 24px;
    height: 24px; */
    /* position: relative;
    bottom: .5rem; */
    margin-left: .5rem;
    
}
.PlayerOrder-container {
    /* padding: 0 var(--l); */
}

