.PlayerPanelLeft-header {
    font-size: var(--l);
    color: var(--font-color-2);
    margin-bottom: var(--m);
}
/* word styling */
.PlayerPanelLeft-word {
    /* color: var(--light-grey); */
    margin-left: var(--s);
    white-space: nowrap;
}

.PlayerPanelLeft-hiddenWord {
    margin-bottom: var(--l);
    white-space: nowrap;
}

.PlayerPanelLeft-round {
    margin-left: var(--s);
    color: var(--grey);
    font-size: var(--m);
}
/* player icon styling */

.PlayerIcon-container {
    padding: var(--s);
    display: flex;
    justify-content: flex-start;
    width: 120px;
}
.PlayerIcon-backgroundGrey {
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
    width: 120px;
    background-color: var(--light-grey);
    padding: var(--s);
    border-color:  var(--light-grey);
    border-width: .5em;
    border-radius: 0.5em;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px;
}

.PlayerIcon-backgroundWhite {
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
    width: 120px;
    background-color: rgb(255, 246, 232);
    padding: var(--s);
    border-color: rgb(255, 246, 232);
    border-width: .5em;
    border-radius: 0.5em;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px;
}
.PlayerIcon-left {
    display:flex;
    justify-content: flex-end;
}

.PlayerIcon-right {
    flex: 1;
    margin-left: 8px;
}

.PlayerIcon-order {
    margin: 0px 10px;
}

.PlayerIcon-icon {
    flex: 1;
    /*margin-left: .5rem;*/
    max-height: var(--m);
    max-width: var(--m);
    min-height: var(--m);
    min-width: var(--m);

    color: var(--text-color);
    font-family: var(--font-primary);

    border-radius: 2px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);


   /*  border-color: var(--border-color);
    
    border-width: 1px;
    border-style: outset; */
}

.PlayerIcon-name {
    
}
.PlayerOrder-container {
    
}

.GuesserIcon-order {
    visibility: hidden;
}

