.PlayerPanelTop {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 

    text-align: center;
    font-size: 70px;
    letter-spacing: 0.1em;
    color: var(--text-color);

    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color:var(--text-color);
    padding: 1rem;
    padding-top: 0.1rem;
}

.PlayerPanelLeft {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
    padding-left: var(--l);
    height: min-content;
    position: absolute;
    right: var(--s);
    width: 250px;
    height: 100%;
    text-align: left;
}

.PlayerPanelRight {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
    height: 100%;
    text-align: left;
    padding: 1rem;
}

section {
    overflow: auto;
}


.CanvasPanel {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
    
    text-align: center;
    padding: 1rem;
    width: 520px;
    height: 600px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.CanvasPanel-palette {
    margin: var(--m);
}

/* .CanvasPanel-bigBigContainer {
    height: 80vh;
    width: 500px;
}

.CanvasPanel-bigContainer {
    position: relative;
    margin: 0;
    padding: 0;
} */

.CanvasPanel-canvasContainer {
    width: 520px;
    height: 520px;
    flex-grow: 1;
    flex-basis: 0;
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 0;
    left: 0;
}

.CanvasPanel-button {
    height: 50px;
    width: 50px;
    border-radius: 0;
    border-color: var(--color-1);
}

.CanvasPanel-footer {
    text-align: left;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 1rem; 
}

.CanvasPanel-child {
    margin: var(--m);
}
