.PlayerPanelTop {
    text-align: center;
    font-size: x-large;
    padding: 1rem;
    background-color: aqua;
}

.PlayerPanelLeft {
    height: 100%;
    text-align: left;
    padding: 1rem;
    background-color: blueviolet;
}

.PlayerPanelRight {
    height: 100%;
    text-align: left;
    padding: 1rem;
    background-color: brown;
}

.CanvasPanel {
    text-align: center;
    padding: 1rem;
    background-color: yellow;
    width: 600px;
    height: 100%;
    display: flex;
}

.CanvasContainer {
    width: 500px;
    flex-grow: 1;
    flex-basis: 0;
    padding: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

/* player icon styling */

.PlayerIconContainer {
    padding: 12px 0px;
}

.PlayerIconSquare {
    width: 24px;
    height: 24px;
    margin-right: 12px;
    border-style: solid;
    border-color: var(--grey);
    background-color: var(--pink);
}

.PlayerName {
    width: 24px;
    height: 24px;
    
}
.PlayerOrderSection {
    padding: 0 var(--l);
}

